.container__inputs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  width: 500px;
  margin-bottom: 5px;
}

.container__textarea {
  width: 500px;
}

.button {
  margin-top: 35px;
}

.container__form {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.25);
  z-index: 1;
}

@media screen and (max-width: 1140px) {
  .container__inputs {
    width: 400px;
    gap: 20px;
  }

  .container__textarea {
    width: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 940px) {
  .container__form {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-primary);
    padding: 40px 0px;
    z-index: 20;
    overflow-y: auto;
    padding-bottom: 30px;
    border-radius: 0;
  }

  .container__form::before {
    content: "";
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: url("/images/p_opa.webp") center center no-repeat;
  }


  .container__inputs {
    grid-template-columns: auto;
    margin: auto;
    width: 90%;
  }

  .container__textarea {
    width: 90%;
  }

  .form__nav {
    display: flex !important;
    width: 90%;
    margin: auto auto 20px;
    justify-content: space-between;
    align-items: center;
  }

  .close__btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    cursor: pointer;
  }

  .close__btn span {
    background: var(--color-white);
    height: 1px;
    width: 100%;
    margin: auto;
    display: block;
    font-size: 0;
    position: absolute;
  }

  .close__btn>span:nth-child(1) {
    transform: rotate(45deg);
  }

  .close__btn>span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .open__form {
    display: block;
  }
}

