.input:focus {
  border: 1px solid var(--color-white);
}

.input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-primary-border);
  background-color: var(--color-primary-light);
  color: var(--color-white);
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
}

.label {
  font-size: 18px;
  font-weight: 400;
}

.messageError {
  color: var(--color-white);
  display: block;
  margin: 8px 0px 0px 6px;
}
