.card {
  background: linear-gradient(to bottom, #026287, #113c5b);
  display: inline-block;
  width: 358px;
  height: 300px;
  padding: 40px 30px 0;
  cursor: pointer;
  text-align: center;
}

.imgForTitle {
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  transition: 0.5s;
}

.description {
  color: var(--color-border-soft);
  margin-bottom: 40px;
  margin-top: 20px;
}

.more {
  color: var(--color-white);
}

@media screen and (max-width: 970px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 90%;
    height: auto;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 445px) {
  .card {
    width: 100%;
  }

  .imgForTitle {
    width: 100%;
    height: auto;
  }
}
