.menu {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 0;
}

.dropdown__title {
  padding: 16px;
  margin: 0;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.dropdown__options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  list-style: none;
  border-radius: 0 15px 15px 15px;
  width: 200px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 10px;
  left: 15px;
  z-index: 2;
}

.dropdown__options a {
  display: block;
  color: #333;
  font-size: 16px;
  text-align: left;
  padding: 15px 15px;
  margin-bottom: 1px;
  transition: all 0.5s;
  border-bottom: 1px solid #eee;
}

.dropdown__options a:hover {
  background-color: #f1f1f1;
}

.dropdown {
  list-style: none;
  position: relative;
  padding-bottom: 20px;
  padding: 0;
}

.species .dropdown__title:hover {
  color: skyblue;
  transition: all 0.5s
}

.productList .dropdown__title:hover {
  color: skyblue;
  transition: all 0.5s
}

.about .dropdown__title:hover {
  color: skyblue;
  transition: all 0.5s
}


/* contactUs */
.contactUs .dropdown__title:hover {
  color: skyblue !important;
  transition: all 0.5s
}

@media screen and (min-width: 841px) {
  /* About */
  .about:hover .about__options {
    display: block;
  }

  /* Sepecies */
  .species:hover .species__options {
    display: block;
  }

  /* productList */
  .productList:hover .productList__options {
    display: block;
  }
}

@media screen and (max-width: 940px) {
  .menu {
    gap: 15px;
  }

  .dropdown__options {
    width: 150px;
  }
}

@media screen and (max-width: 840px) {
  .menu {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.95);
    bottom: 0;
    top: 0;
    right: 0;
    align-items: self-start;
    left: 0;
    z-index: 15;
    gap: 40px;
    padding: 120px 0px 0px 30px;
  }

  .menu__active {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
  }

  .dropdown {
    width: 90%;
  }

  .dropdown__title {
    padding: 0;
  }

  .dropdown__options a:hover {
    background-color: transparent;
    color: #fff;
  }

  .dropdown__options__active {
    display: flex;
    gap: 20px;
    margin: 30px 0 0;
    flex-direction: column;
    position: relative;
    background-color: transparent;
  }

  .dropdown__options__active a {
    border: none;
    color: #999;
    padding: 0;
    font-size: 20px;
  }
}
