.nav {
  color: white;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  margin-left: 4%;
  margin-top: 30px;
  width: 90%;
  box-sizing: content-box;
}

.link__logo {
  z-index: 20;
}

.open__menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  padding: 0;
  z-index: 20;
  position: relative;
  margin: 0;
}

.open__menu svg {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 840px) {
  .nav {
    font-size: 23px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .sub__nav {
    position: fixed;
    width: 100%;
    padding: 25px 5% 10px 4%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 20;
    transition: all 0.5s;
  }

  .sub__nav__scroll {
    background-color: #000;
    opacity: 0.6;
    padding-top: 10px;
  }

  .open__menu {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .link__logo img {
    width: 220px;
    height: 50px;
  }

  .open__menu {
    width: 30px;
    height: 30px;
  }
}

