:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "GillSansLight Regular";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gill-sans-light-regular.otf') format('opentype');
}

@font-face {
  font-family: "GillSansLight Bold";
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/gill-sans-bold.otf') format('opentype');
}

body {
  font-family: "GillSansLight Regular", Arial, sans-serif;
  letter-spacing: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

h2, p, h3, h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: "GillSansLight Regular", sans-serif;
}

.button-primary {
  background-color: white;
  border: 1px solid #fff;
  padding: 10px 0px;
  width: 170px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.button-secondary {
  border: 1px solid #fff;
  padding: 10px 0px;
  width: 170px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 840px) {
  .scroll-hidden {
    overflow-y: hidden;
  }
}
