.container {
  padding-top: 140px;
  width: 70%;
  margin: auto;
}

.container h2 {
  text-align: center;
  font-family: "GillSansLight Bold", sans-serif;
  font-size: 35px;
}

.name {
  font-size: 20px;
  margin-top: 20px;
}

.divider {
  width: 45px;
  height: 2px;
  background-color: #006a8f;;
  margin: 20px 0;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  justify-content: center;
  margin-top: 55px;
}

.content__item {
  width: 248px;
  border-radius: 20px;
}

.content__item img {
  width: 100% !important;
  height: 320px !important;
  border-radius: 20px 20px 0px 0px;
}
