.title {
  color: #006a8f;
  font-size: 35px;
  font-family: "GillSansLight Bold", sans-serif;
  font-weight: 500 !important;
}

.divider {
  content: "";
  background-color: #006a8f;
  width: 200px;
  height: 1px;
  margin: 20px 0px 20px;
}

.container {
  padding-top: 140px;
  width: 50%;
  margin: auto auto 130px;
}

.first__content {
  margin-bottom: 80px;
}

.description {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 90px;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 25px;
  }

  .divider {
    margin: 15px 0px 15px;
  }
}

