.container {
  position: relative;
}

.container__options {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 9px 9px;
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

.container__options button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 8px;
  font-size: 17px;
  text-align: left;
}

.container__options button:hover {
  background-color: var(--color-primary-border);
  color: var(--color-white);
}

.input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-primary-border);
  background-color: var(--color-primary-light);
  color: var(--color-white);
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
}

.container__input {
  position: relative;
}

.container__input button {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.label {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 15px;
}

.messageError {
  color: var(--color-white);
  display: block;
  margin: 8px 0px 0px 6px;
}
